#divLeccion,
#divSeccion {
  width: 100%;
  align-items: center;
}



.tablatura,
.acorde,
.letra {
  font-family: monospace;
  font-size: 18px;
  align-items: center;
  align-self: center;
  width: 100%;
}


.cuadroTablatura,
.cuadroAcorde,
.cuadroletra {
  width: 20px;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

.divBotonCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media screen and (max-width : 700px){

  .tablatura,
  .acorde,
  .letra {
    font-family: monospace;
    font-size: 7px;
    align-items: center;
    align-self: center;
    width: 100%;
  }
  
  
  .cuadroTablatura,
  .cuadroAcorde,
  .cuadroletra {
    width: 12.9px;
    text-align: center;
  }
  
}
