#divLeccion,
#divSeccion {
  width: 80%;
  padding: 20px;
  align-items: center;
}

.tablatura,
.acorde,
.letra {
  align-items: center;
  align-self: center;
  width: 90%;
  margin: auto;
}

.cuadroletra {
  border: none;
}

.cuadroTablatura,
.cuadroAcorde,
.cuadroletra {
  width: 20px;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

.divBotonCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
